.body {
/* background-image: url(images/baby2.jpg);
background-size: cover;
background-position: fixed;
background-repeat: no-repeat; */
/* background-position: center; */
/* background-color: white; */
/* color: white; */

}

.body2 {


}

.he1{
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Alex Brush';
}

.he2 {
  font-family: 'Courgette';
  padding-bottom: 10px;
}

.p1 {
  float: left;
  width: 50%;
  height: 270px;
  background-color: white;
}

.footers {
	width: 100%;
	height: 20px;
	/* margin-top: 10px; */
  background-color: white;
  color: black;
	text-align: center;
  font-style: italic;
  font-size: .55em;
  /* position: fixed; */
}

#myDIV {
  width: auto;
  height: 50px;
  background: black;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {background-color: white;}
}

/* #myDIV {

  width: 45%;
  height: inherit;
  border: 1px solid white;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {border-color: black;}
} */

.galleryb {
  background-color: black;
}
/* #myDIV {
  width: 45%;
  height: auto;
  float: left;
  background: black;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {background-color: blue;}
} */
